.navbar {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.nav-item {
    color: black;
}

.card {
    margin-top: 30px;
}

.card-header {
    font-weight: bold;
    font-size: 1.2em;

}

.table {
    margin-top: 30px;
}

.alert {
    margin-top: 30px;
}

ul {

    padding-left: 10px;

}

.checkbox-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#devices {

    display: none;

}