.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2em;
    color: #afe2fd;
    display: block;
}

.sidenav a:hover {
    color: #fff;
}

.url-input {
    text-align: center;
}
.main {
    margin-left: 270px; /* Same as the width of the sidenav */
    font-size: 0.9em; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 30px;
    overflow-y: hidden;
    margin-right: 2em;
}

.button-add {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.pos-f-t {
    display: none;
}

.table {
    height: 100px;
}

.table-container {
    width: 60%;
    height: 500px;
    overflow-y: auto;

}

/* Tablet i Laptop i raspali camci */

@media (min-width:640px) and (max-width: 1600px) {
    .table-container {
        width: 100%;
    }

}

/* Fontele */

@media (min-width: 300px) and (max-width: 640px) {

    .sidenav {
        display: none;
    }

    .main {
        margin-left: 1em;
        margin-right: 1em;

    }

    .pos-f-t {
        display: block;
    }
    


    .table-container {
        width: 100%;
    }
}

