html {

    height: 100%;
    overflow-y: hidden;
}


body {
    height: 100%;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
}

#fixedButton {
    border-radius: 0px 25px 0px 0px;
    position: fixed;
    bottom: 0px;
    width: 100px;
    text-align: center;
    background-color: #5433FF;
    display: inline;
    color:whitesmoke;

}


.col {

    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #0069D9;
    color: white;
    padding: 0px;
    border: 1px solid black;
}


h3 {
    vertical-align: middle;
}

.row {

    margin: 0 auto;

}


#number {

    width: 70px;
    height: 70px;
    font-size: 2em;
    margin: 2px;
}

#submit {

    width: 70px;
    height: 70px;
    font-size: 2em;
    margin: 2px;
}

#close {
    width: 218px;
    height: 70px;
    font-size: 2em;
    margin: 2px;
    margin-bottom: 15px;
}

#delete {

    width: 70px;
    height: 70px;
    font-size: 2em;
    margin: 2px;
    text-align: center;
}
.form-group {
    padding-top: 10px;
    margin: 5px auto;
    width: 220px;
    height: 50px;
}

input {
    text-align: center;
}

.flaticon-checked::before {
    margin-left: 0px;
    padding: 0px;
}

.flaticon-checked::after {
    margin-left: 0px;
    padding: 0px;
}

.job-activity {

    height: 3em;
    font-size: 1.1em;
    overflow: auto;

}

table {

    margin-left: 30px;
    margin-right: 30px;
    table-layout: fixed;

}

.modal-alert {

    text-align: center;
    font-size: 1.6em;

}

.alert-danger {

    margin-bottom: 0px;

}

.alert-success {

    margin-bottom: 0px;

}

.table {

    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: black;

}

thead {

    background-color: #36304A;
    color: white;
    border: none;

}

th {

    text-align: center;

}

tr {
    height: 30px;
}

.table-container {

    background-color: #F5F5F5;
    width: 90%;
    margin: 30px auto 20px auto;
    border-radius: 10px;
    box-shadow: black;
    height: 75%;
    overflow-y: scroll;

}

.date-control {
    display: inline-block;
}

.flaticon-left-chevron-1:after {

    font-size: 50px;

}

.flaticon-left-chevron-1:before {

    font-size: 50px;

}
.flaticon-left-chevron-1 {
    margin-left: 5%;
    font-size: 50px;
    text-align: right;
}

.flaticon-right-chevron-1 {
    display: inline-block;
    margin-left: 95%;
    font-size: 50px;
    text-align: left;

}


i {
    display: inline-block;
}

.current-week {
    display: block;
    font-size: 3.1em;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
}

.notice-message {
    font-size: 20px;
}

.flaticon-password {
    display: inline-block;
}

.center-section {
    text-align: center;
}

.display-date {
    vertical-align: middle;
}