    /*
    Flaticon icon font: Flaticon
    Creation date: 14/12/2018 22:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-desktop-monitor:before { content: "\f100"; }
.flaticon-wiping-swipe-for-floors:before { content: "\f101"; }
.flaticon-information:before { content: "\f102"; }
.flaticon-engineer:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-result:before { content: "\f105"; }
.flaticon-settings:before { content: "\f106"; }
.flaticon-round-add-button:before { content: "\f107"; }
    
    $font-Flaticon-desktop-monitor: "\f100";
    $font-Flaticon-wiping-swipe-for-floors: "\f101";
    $font-Flaticon-information: "\f102";
    $font-Flaticon-engineer: "\f103";
    $font-Flaticon-home: "\f104";
    $font-Flaticon-result: "\f105";
    $font-Flaticon-settings: "\f106";
    $font-Flaticon-round-add-button: "\f107";