	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/12/2018 22:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-size: 1em;
        font-style: normal;
        margin-right: 10px;
    }

.flaticon-desktop-monitor:before { content: "\f100"; }
.flaticon-wiping-swipe-for-floors:before { content: "\f101"; }
.flaticon-information:before { content: "\f102"; }
.flaticon-engineer:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-result:before { content: "\f105"; }
.flaticon-settings:before { content: "\f106"; }
.flaticon-round-add-button:before { content: "\f107"; }