    /*
    Flaticon icon font: Flaticon
    Creation date: 10/11/2018 01:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-checked:before { content: "\f100"; }
.flaticon-password:before { content: "\f101"; }
.flaticon-left-chevron-1:before { content: "\f102"; }
.flaticon-right-chevron-1:before { content: "\f103"; }
.flaticon-cursor:before { content: "\f104"; }
    
    $font-Flaticon-checked: "\f100";
    $font-Flaticon-password: "\f101";
    $font-Flaticon-left-chevron-1: "\f102";
    $font-Flaticon-right-chevron-1: "\f103";
    $font-Flaticon-cursor: "\f104";