	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/11/2018 01:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 24px;
font-style: normal;
}

.flaticon-checked:before { content: "\f100"; }
.flaticon-password:before { content: "\f101"; }
.flaticon-left-chevron-1:before { content: "\f102"; }
.flaticon-right-chevron-1:before { content: "\f103"; }
.flaticon-cursor:before { content: "\f104"; }